01-contenedores/lemoncode-challenge/node-stack/backend/node_modules
01-contenedores/lemoncode-challenge/dotnet-stack
01-contenedores/lemoncode-challenge/node-stack/backend/.devcontainer
.vscode
.DS_Store
